/* Website template by freewebsitetemplates.com */

body {

}

a {
outline: none;
}

img  {
border: 0;
}

p a {
color: #A8279D;
}

p a:hover {
text-decoration: none;
}

#header {
background: #ededed;
padding-bottom: 23px;
width: 100%;
height:809px;

}

#header div {
margin: 0 auto;
}

#header div div#logo {
padding: 30px 0 25px;
width: auto;
}

#header div div#logo a {
display: block;
}

#header div div#navigation {
background: url(../images/bg-nav-left-curve.gif) no-repeat left top;
padding-left: 6px;
width: auto;
}

#header div div#navigation div {
background: url(../images/bg-nav-right-curve.gif) no-repeat right top;
padding-left: 0;
padding-right: 6px;
width: auto;
}

#header div div#navigation div ul {
background: url(../images/bg-navigation.gif) repeat-x;
height: 40px;
line-height: 40px;
list-style: none;
margin: 0;
padding: 0 0 0 20px;
}

#header div div#navigation div ul li {
float: left;
padding: 0 20px;
}

#header div div#navigation div ul li a {
color: #78707d;
display: block;
line-height: 40px;
text-align: center;
text-decoration: none;
text-shadow: 0 1px #f8f8fa;
width: 140px;
}

#header div div#navigation div ul li.current a,
#header div div#navigation div ul li a:hover {
background: url(../images/bg-text.gif) no-repeat 0 -91px;
color: #a62599;
text-shadow: 0 1px #fefffa;
}

#body {
background: #d1d0d5 url(../images/bg-body.gif) repeat-x;
padding-bottom: 40px;
width: 100%;
}

div.body {
background: url(../images/bg-footer.gif) repeat;
height: 100%;
padding-bottom: 40px;
width: 100%;
}

#body div#home {
background: url(../images/bg-homepage.jpg) no-repeat center top;
margin: 0 auto;
overflow: hidden;
padding: 515px 0 0;
width: 960px;
}

#body div#home div.sidebar {
float: left;
margin: 100px 0 0 30px;
width: 420px;
}

#body div#home div.sidebar ul,
#body div div.sidebar ul {
list-style: none;
margin: 0;
padding: 0;
}

#body div#home div.sidebar ul li {
margin: 5px 0 0;
overflow: hidden;
}

#body div#home div.sidebar ul li.first,
#body div div.sidebar ul li.first {
margin: 0
}

#body div#home div.sidebar ul li h3,
#body div div.sidebar ul li h3,
#footer div.section ul li h3 {
color: #626075;
font-size: 20px;
font-weight: normal;
margin: 0 0 10px;
}

#body div#home div.sidebar ul li img,
#body div div.sidebar ul li img {
float: left;
}

#body div#home div.sidebar ul li p,
#body div div.sidebar ul li p,
#footer div.section ul li p {
float: left;
line-height: 24px;
margin: 0;
text-align: justify;
}

#body div#home div.sidebar ul li p {
width: 300px;
}

#body div div.sidebar ul li p {
float: none;
}

#body div#home div.content {
background: none;
float: right;
padding: 0;
width: 470px;
}

#body div#home div.content h1 {
color: #fff;
font-size: 20px;
font-weight: normal;
line-height: 40px;
margin: 0;
}

#body div#home div.content p,
#body div div.content p {
color: #79677f;
line-height: 24px;
margin: 0 0 12px;
text-align: justify;
}

#body div,
div.body div {
background: none;
margin: 0 auto;
overflow: hidden;
padding: 0 10px 0;
width: 940px;
}

div.body div {
position: relative;
top: -3px;
}

div.body div div.sidebar {
background: #ededed;
float: left;
margin: 0;
padding: 0;
width: 220px;
}

div.body div div.sidebar div {
background: url(../images/bg-sidebar-bottom.gif) no-repeat center bottom;
padding: 0 0 12px;
position: static;
top: 0;
width: auto;
}

div.body div div.sidebar div h3 {
background: url(../images/separator.gif) no-repeat center top;
font-size: 16px;
font-weight: normal;
margin: 0;
padding: 10px 0 10px 10px;
}

div.body div div.sidebar div h3 a {
background: url(../images/arrow.gif) no-repeat 170px 4px;
color: #272731;
display: block;
text-decoration: none;
text-indent: 20px;
}

div.body div div.sidebar div h3.first a {
background: url(../images/arrow.gif) no-repeat 170px -23px;
}

div.body div div.sidebar div h3 a span,
div.body div div.sidebar div h3 a:hover {
color: #09b4d2;
}

div.body div div.sidebar div div {
background: url(../images/separator.gif) no-repeat center top;
padding: 10px 0 10px 40px;
}

div.body div div.sidebar div div p {
line-height: 24px;
margin: 0;
}

div.body div div.sidebar div div p a {
color: #776a7e;
text-decoration: none;
}

div.body div div.sidebar div div p a span,
div.body div div.sidebar div div p a:hover {
color: #aa259a;
}

div.body div div.sidebar div h2 {
background: url(../images/bg-text.gif) no-repeat 0 -39px;
display: block;
font-size: 16px;
font-weight: normal;
height: 43px;
line-height: 45px;
margin: 0 0 10px;
position: relative;
text-indent: 10px;
text-shadow: 0 1px #E8F09B;
top: -4px;
width: 220px;
}

div.body div div.content {
float: left;
margin-left: 30px;
padding: 0;
width: auto;
}

div.body div div.content ul {
list-style: none;
margin: 0;
padding: 0;
}

div.body div div.content ul li {
display: block;
overflow: hidden;
margin: 40px 0;
}

div.body div div.content ul li.first div {
border: 0;
}

div.body div div.content ul li.first div h1 {
margin: 10px 0 0;
}

div.body div div.content ul li.first span {
margin-top: 0;
}

div.body div div.content ul li span {
background: url(../images/bg-date.jpg) no-repeat;
color: #5d6a00;
display: block;
font-size: 16px;
float: left;
height: 75px;
line-height: 24px;
margin-top: 30px;
padding-top: 25px;
text-align: center;
text-shadow: 0 1px #dce98d;
width: 100px;
}

div.body div div.content ul li div {
border-top: 1px solid #353541;
float: left;
margin: 0 0 0 30px;
padding: 0;
position: static;
top: 0;
width: 550px;
}

div.body div div.content ul li div h1 {
font-size: 20px;
font-weight: normal;
margin: 40px 0 0;
}

div.body div div.content ul li div p {
line-height: 24px;
margin: 0;
text-align: justify;
}

#body div div.sidebar, #body div div#connect {
float: left;
margin: 0;
padding: 0;
width: 300px;
}

#body div div.sidebar ul {
padding-top: 15px;
}

#body div div.sidebar ul li img {
margin: 5px 15px 50px 0;
}

#body div div.sidebar ul li {
margin: 90px 0 0;
overflow: hidden;
}

#body div div.content,
#body div div#contact {
background: url(../images/bg-content.png) repeat;
border-radius: 10px;
float: right;
padding: 15px 20px;
width: 580px;
}

#body div div.content h3,
#body div div#contact h3 {
color: #09b3d4;
font-size: 20px;
font-weight: normal;
margin: 50px 0 0;
}

#body div div.content h3.first,
#body div div#contact h3.first {
margin: 0;
}

#body div div.content p {
margin: 0;
}

#body div div#contact p {
color: #79677F;
text-indent: 50px;
}

#body div div#contact b {
color: #79677F;
display: block;
font-weight: normal;
line-height: 24px;
padding: 20px 0 0 80px;
}

#body div div#connect h3 {
font-size: 20px;
font-weight: normal;
margin-bottom: 15px;
text-indent: 50px;
}

#body div div#connect a {
color: #878785;
display: block;
font-size: 16px;
height: 72px;
line-height: 67px;
margin: 0 0 0 23px;
text-decoration: none;
text-indent: 100px;
width: 232px;
}

#body div div#connect a#facebook {
background: url(../images/icons.jpg) no-repeat -243px 0;
}

#body div div#connect a#facebook:hover {
background: url(../images/icons.jpg) no-repeat 0 0;
}

#body div div#connect a#subscribe {
background: url(../images/icons.jpg) no-repeat -243px -70px;
}

#body div div#connect a#subscribe:hover {
background: url(../images/icons.jpg) no-repeat 0 -70px;
}

#body div div#connect a#twitter {
background: url(../images/icons.jpg) no-repeat -243px -145px;
line-height: 75px;
}

#body div div#connect a#twitter:hover {
background: url(../images/icons.jpg) no-repeat 0 -145px;
}

#body div div#connect a#flicker {
background: url(../images/icons.jpg) no-repeat -243px -225px;
}

#body div div#connect a#flicker:hover {
background: url(../images/icons.jpg) no-repeat 0 -225px;
}

#body div#gallery {
background: url(../images/bg-content.png) repeat;
border-radius: 10px;
height: auto;
margin: 0 auto;
padding: 20px;
width: 920px;
}

#body div#gallery ul {
display: block;
list-style: none;
margin: 0;
overflow: hidden;
padding: 0;
}

#body div#gallery ul li {
float: left;
height: 315px;
margin: 10px;
width: 210px;
}

#body div#gallery ul li a {
display: block;
width: 210px;
}

#body div#gallery ul li div {
left: -99999px;
position: relative;
width: auto;
overflow:visible;
}

#body div#gallery ul li div ul {
background: url(../images/bg-options.png) repeat;
height: 40px;
list-style: none;
left: 1px;
margin: 0;
padding: 0 0 0 15px;
position: absolute;
top: 0;
top: -55px;
width: 193px;
}

#body div#gallery ul li div ul li {
float: left;
height: auto;
margin: 5px 15px;
width: auto;
}

#body div#gallery ul li:hover div {
left: 0;
}

#body div#gallery ul li div ul li a {
display: block;
height: 27px;
text-indent: -99999px;
width: 27px;
}

#body div#gallery ul li div ul li a.view {
background: url(../images/options.gif) no-repeat 0 -73px;
}

#body div#gallery ul li div ul li a.info {
background: url(../images/options.gif) no-repeat 0 -36px;
}

#body div#gallery ul li div ul li a.download {
background: url(../images/options.gif) no-repeat 0 0;
}

#body div#paging, div.body div div.content div#paging {
height: 40px;
margin: 20px auto 0;
padding: 0;
text-align: center;
width: 960px;
}

div.body div div.content div#paging {
margin-left: 130px;
width: 530px;
}

#body div#paging span,
div.body div div.content div#paging  span {
display: inline;
}

#body div#paging span a,
div.body div div.content div#paging span a {
background: url(../images/bg-text.gif) no-repeat 0 -291px;
color: #fff;
display: inline-block;
font-size: 16px;
height: 40px;
line-height: 40px;
letter-spacing: 5px;
text-decoration: none;
width: 100px;
}

div.body div div.content div#paging span a {
background: url(../images/bg-text.gif) no-repeat 0 -241px;
}

div.body div div.content div#paging span a:hover {
background: url(../images/bg-text.gif) no-repeat 0 -141px;
}

#body div#paging span a:hover {
background: url(../images/bg-text.gif) no-repeat 0 -191px;
}

#body div#paging span.first,
div.body div div.content div#paging span.first {
margin-right: 5px;
}

#body div#paging span.last,
div.body div div.content div#paging span.last {
margin-left: 5px;
}

#body div#paging ul,
div.body div div.content div#paging ul {
display: inline;
list-style: none;
margin: 0;
padding: 0;
}

#body div#paging ul li,
div.body div div.content div#paging ul li {
display: inline;
margin: 0 3px;
}

#body div#paging ul li a,
div.body div div.content div#paging ul li a {
background: url(../images/bg-text.gif) no-repeat 0 -487px;
color: #fff;
display: inline;
font-size: 16px;
height: 40px;
padding: 15px;
text-align: center;
text-decoration: none;
}

div.body div div.content div#paging ul li a {
background: url(../images/bg-text.gif) no-repeat 0 -437px;
}

#body div#paging ul li.current a,
#body div#paging ul li a:hover{
background: url(../images/bg-text.gif) no-repeat 0 -387px;
}

div.body div div.content div#paging ul li.current a,
div.body div div.content div#paging ul li a:hover {
background: url(../images/bg-text.gif) no-repeat 0 -337px;
}

/*#footer {
height: auto;
width: 100%;
}

#footer div {
background: url(../images/bg-footer.gif) repeat;
height: 250px;
width: 100%;
}

#footer div div {
background: none;
height: auto;
margin: 0 auto;
width: 960px;
}

#footer div div span {
background: url(../images/bg-text.gif) no-repeat 0 0;
color: #6a7112;
display: block;
font-size: 16px;
height: 35px;
left: 0;
line-height: 35px;
margin-bottom: 10px;
position: relative;
text-align: center;
text-shadow: 0 1px #e8f09b;
top: -4px;
width: 17px;
}

#footer div div ul {
list-style: none;
margin: 0;
overflow: hidden;
padding: 0;
}

#footer div div ul li {
float: left;
margin-left: 30px;
position: relative;
width: 300px;
}

#footer div div ul li.first {
margin-left: 0;
}

#footer div div ul li h2 {
font-size: 16px;
font-weight: normal;
margin: 0;
}

#footer div div ul li h2 a,
div.body div div.content ul li div h1 a {
color: #08b5d7;
text-decoration: none;
}

#footer div div ul li h2 a:hover,
div.body div div.content ul li div h1 a:hover {
color: #83e0f1;
}

#footer div div ul li span.date {
background: none;
color: #CADF18;
font-size: 9px;
height: auto;
line-height: 11px;
position: absolute;
left: 200px;
text-align: right;
text-shadow: none;
top: 4px;
width: 100px;
}

#footer div div ul li p {
color: #fff;
line-height: 24px;
margin: 5px 0 0;
text-align: justify;
}

#footer div div ul li a.readmore {
color: #cadf18;
display: block;
text-align: right;
text-decoration: none;
}

#footer div div ul li a.readmore:hover {
color: #edfb7b;
}

#footer div.section {
background: #d1d0d5;
height: 220px;
padding: 30px 0 0;
width: 100%;
}

#footer div.section ul {
list-style: none;
margin: 0 auto;
padding: 0;
width: 960px;
}

#footer div.section ul li {
float: left;
width: 320px;
}

#footer div.section ul li.first {
margin-left: 0;
}

#footer div.section ul li img {
float: left;
margin-right: 5px;
}

#footer div.section ul li p a.readmore {
text-decoration: none;
}

#footer div.section ul li p a.readmore:hover {
color: #770c6e;
}

#footer div.section ul li p {
float: left;
width: 210px;
}

#footer p.footnote {
color: #08090e;
height: 40px;
line-height: 40px;
margin: 0;
text-align: center;
text-shadow: 0 1px #353446;
}*/

html, body{
height:100%;
width:100%; 
margin:0 0 1px 0;
padding:0;
/*background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #000000 100%);*/
	
}
.TextSize
{
vertical-align:bottom;
    
}
.Tab
{
float:left;
   
}

.TabContainer
{
text-align:left;
windows:1200px;
}

h1
{

font: Georgia, serif;
color: #255d7e;
}
#menu
{

}
.CloseButton {
background: url(Icons/left.png) no-repeat 0 0;
border: 0;
height:36px;
width: 36px
}
#container
{
margin: 0 auto;
width: 900px;
text-align: left;
height:600px;
}
#header
{
width: 900px;
color: #656565;
height: 135px;
}
#header{background:#c4dcfb;height:5%;}/* Header */
 
#splitterContainer {/* Main splitter element */
height:95%;
width:100%;margin:0;padding:0;border: 0; background-color:#cecece
}
.CloseButon
{
background: url(Icons/LeftRight.jpg) no-repeat 0 0;
border: 0;
height: 36px;
   
width: 36px;
  
}
.TextBox
{

}
.boxMid{position:absolute; top:30%; left:40%; width:200px; height:200px; background-color:#fff;
border:1px solid #333; display:block;}
#mybox{position:absolute; left:0; top:0; width:100%; height:100%; background-color:#666666; opacity:.8; display:block;filter:alpha(opacity=80);}
div.panel
{
 
z-index:8999;

text-align:center;
background:#e5eecc;
border:solid 1px #c3c3c3;

}
div.div_submenu
{
float:left;
   
text-align:center;
color:#fefffd;
background:#transparent;
border:solid 1px #c3c3c3;
border-radius: 4px;
width :584px;
height:22px;
}
div.div_logout
{
float:right;
   
padding:5px;
text-align:center;
color:#fefffd;
background:#494b4a;
border:solid 1px #c3c3c3;
border-radius: 4px;
width :55px;
height:15px;
}
.labelColor
{
color:White;
}
.Legend
{
color:White;
text-size:18px;
}
.BackImage
{
/* background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #000000 100%);
background:url(ClickImages/radial_bg.png) no-repeat 0 0;*/
height:100%;
width:100%;
   
}
#titlePane
{
width:100%;

margin:0;padding:0;/* background:#CCCCCC;
background:url(images/head_bg.jpg) repeat-x;*/
/*background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #000000 100%);*/
	
}
.water
{
font-family: Tahoma, Arial, sans-serif;
font-size:75%;
color:gray;
}
#SubPane
{
float:right;
    
}
.WaterMark
{
color:Black;
font-size:50px;
        
        
}
#SubTitlePane
{
float:right;
height: 25px;
margin-left: 0px;
}
ul#nav li a {
display: block;
	
padding: 2px 10px;
background:#060606;
}

ul#nav li a:hover{
background:#FFFFFF;
color:#060606;

}
	
ul#nav li {
float: left;
position: relative;
width: 134px;
text-align: center;
margin-right:5px;
border:1px solid #ccc;
top: -2px;
left: 2px;
   
}

ul#nav li.current a{
background:#009ACD;
color:#FFFFFF;
width: 114px;
   
}

ul#nav li.current a:hover{
background:#FFF;
color:#FFFFFF;
}

li ul {
display: none;
position: absolute;
width:100px;
top: 0;
left: 0;
font-weight: normal;
padding: 1px 0 10px 0;
margin-left:-1px;
}

ul#nav li ul.sub li{
border-width:0 1px 1px 1px!important;
	
}

ul#nav li ul.sub li a{
font-weight: normal!important;	
	
}
li>ul {
top: auto;
left: auto;
	
}

li:hover ul, li.over ul {
display: block;
	
}

p a {
color: #000;
text-decoration:underline;

}

a{
color:White;
text-decoration:none;
background: block;
}
p a:hover{	text-decoration: none!important;
          	
}

#leftPane{
float:left;width:22%;
height:90%;border-top:solid 1px #979797;
background:#979797;
overflow: auto;
border-radius: 4px;
}
#rightPane{	/*Contains toolbar and horizontal splitter*/
float:right;width:85%;height:90%;
background:#f4f4f4;
border-radius: 4px;
}
#rightSplitterContainer{/*horizontal splitter*/	
width:100%;
background:#FFFFFF;border-top:solid 1px #979797;
border-radius: 4px;
} 
 
#rightTopPane{/*Top nested in horizontal splitter */
width:100%;height:50%;
overflow:auto;background:#f4f4f4;
border-radius: 4px;
z-index:1;
}
#rightBottomPane{/*Bottom nested in horizontal splitter */
background:#f4f4f4;width:100%;overflow:auto;
border-radius: 4px;
}
 
/* Splitbar styles; these are the default class names and required styles */
.splitbarV {
float:left;width:6px;height:100%;
line-height:0px;font-size:0px;
border-left:solid 1px #979797;border-right:solid 1px #979797;
background:#cbe1fb url(Images/panev.gif) 0% 50%;
}
.splitbarH {
height:6px;text-align:left;line-height:0px;font-size:0px;
border-top:solid 1px #979797;border-bottom:solid 1px #979797;
background:#cbe1fb url(Images/paneh.gif) 50% 0%;
}
 
.splitbuttonV{
margin-top:-41px;margin-left:-4px;top:50%;position:relative;
height:83px;width:10px;
background:transparent url(Images/panevc.png) 10px 50%;
}
.splitbuttonV.invert{
margin-left:0px;background:transparent url(Images/panevc.png) 0px 50%;
}
.splitbuttonH{
margin-left:-41px;left:50%;position:relative;
height:10px !important;width:83px;
background:transparent url(Images/panehc.png) 50% 0px;
}
.splitbuttonH.invert{
margin-top:-4px;background:transparent url(Images/panehc.png) 50% -10px;
}
.splitbarV.working,.splitbarH.working,.splitbuttonV.working,.splitbuttonH.working{
-moz-opacity:.50; filter:alpha(opacity=50); opacity:.50;
}


.modal {
display:    none;
position:   fixed;
z-index:    1000;
top:        0;
left:       0;
height:     100%;
width:      100%;
background: rgba( 255, 255, 255, .8 ) 
url('Images/waitloader.gif') 
50% 50% 
no-repeat;
}

/* When the body has the loading class, we turn
the scrollbar off with overflow:hidden */
body.loading {
overflow: hidden;   
}

/* Anytime the body has the loading class, our
modal element will be visible */
body.loading .modal {
display: block;
}

/*a:link {color:#FFFFFF;}    unvisited link 
a:hover {color:#C0C0C0;}    mouse over link 
a:active {color:#C0C0C0;}  selected link */

/* 
LEVEL ONE
*/
ul.dropdown                         { position: relative;z-index:999;
top: 0px;
left: -30px;
height: 22px;
width: 74px;
}
ul.dropdown li                      { font-weight: bold; float: left; zoom: 1; background: #ccc; }
ul.dropdown a:hover		            { color: #000; }
ul.dropdown a:active                { color: #ffa500; }
ul.dropdown li a                    { display: block; padding: 4px 8px; border-right: 1px solid #333; text-decoration:none;
color: #222; }
ul.dropdown li:last-child a         { border-right: none; } /* Doesn't work in IE */
ul.dropdown li.hover,
ul.dropdown li:hover                { background: #F3D673; color: black; position: relative; }
ul.dropdown li.hover a              { color: black; }


/* 
LEVEL TWO
*/
ul.dropdown ul 						{ width: 220px; visibility: hidden; position: absolute; top: 100%; left: 0; }
ul.dropdown ul li 					{ font-weight: normal; background: #f6f6f6; color: #000; 
border-bottom: 1px solid #ccc; float: none; }
									  
/* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a					{ border-right: none; width: 100%; display: inline-block; } 

/* 
LEVEL THREE
*/
ul.dropdown ul ul 					{ left: 100%; top: 0; }
ul.dropdown li:hover > ul 			{ visibility: visible; }

/*----------------------------------*/


ul#nav 
{
position :inherit;
list-style: none;
padding: 0;
margin: 10px 0 0 0;
z-index:999;
top: 31px;
left: -1px;
width: 813px;
}


ul#nav li a {
display: block;
	
padding: 2px 10px;
background:#060606;
border-radius: 7px 7px 7px 7px;
}

ul#nav li a:hover{
background:#060606;
color:#FFFFFF;
border-radius: 7px 7px 7px 7px;
}
	
ul#nav li {
float: left;
position: relative;
width: 134px;
text-align: center;
margin-right:5px;
border:1px solid #ccc;
top: -2px;
left: 2px;
border-radius: 7px 7px 7px 7px;
}

ul#nav li.current a{
background:#060606;
color:#FFFFFF;
width: 114px;
border-radius: 7px 7px 7px 7px;
height: 19px;
}

ul#nav li.current a:hover{
background:#FFFFFF;
color:#060606;
}

li ul {
display: none;
position: absolute;
width:100px;
top: 0;
left: 0;
font-weight: normal;
padding: 1px 0 10px 0;
margin-left:-1px;
}

ul#nav li ul.sub li{
border-width:0 1px 1px 1px!important;
	
}

ul#nav li ul.sub li a{
font-weight: normal!important;	
	
}
li>ul {
top: auto;
left: auto;
	
}

li:hover ul, li.over ul {
display: block;
	
}




/* maskedbox */

/* Z-index of #mask must lower than #boxes .window */
#mask {
position:absolute;
z-index:9000;
background-color:#000;
display:none;
}
   
#boxes .window {
position:fixed;
width:440px;
height:200px;
display:none;
z-index:9999;
padding:20px;
}
 
 
/* Customize your modal window here, you can add background image too */
#internalbox #dialog {
width:375px; 
height:203px;
}
.CenterMapPosition
{
position:fixed;
top:11%;
left:52%;
z-index:9999;
background-color:transparent;
border-radius: 7px 7px 7px 7px;
 
}
.CenterMapPositionReport
{
position:absolute;
top:11%;
left:63%;
z-index:9999;
background-color:transparent;
border-radius: 7px 7px 7px 7px;
 
}
.LoadingPanel
{
position:fixed;
top:0%;
left:10%;
width:45%;
height:35px;
z-index:9999;
background-color:transparent;
text-align:center;
}
.HideButton
{
    
}
#footer
{
clear: both;
font-size: 12px;
margin-left: auto;
width: 100%;
color: #626262;
margin-right: auto;
letter-spacing: -1px;
height: 30px;
}
#footerlinks
{
padding-right: 18px;
padding-left: 8px;
font-weight: normal;
padding-bottom: 8px;
padding-top: 5px;
height: 15px;
}
#footerlinks A
{
font-weight: normal;
color: #626262;
text-decoration: none;
}
#footerlinks A:hover
{
font-weight: normal;
color: #f5921e;
text-decoration: none;
}
#footerright
{
margin-top: 8px;
float: right;
margin-bottom: 8px;
width: 360px;
text-align: right;
}
.orange11
{
color: #F5921E;
font-size: 11px;
}
#maintextBox
{
padding-right: 8px;
padding-left: 24px;
padding-bottom: 35px;
margin-left: auto;
width: 640px;
margin-right: auto;
padding-top: 0px;
height: auto;
text-align: left;
}
div.div_centermap
{
float: left;
margin: 0px 0px 0px 10px;
padding: 5px;
text-align: center;
color: #fefffd;
background: #494b4a;
border: solid 1px #c3c3c3;
border-radius: 4px;
width: 139px;
height: 15px;
}
.style1
{
font-size:30px;
text-align: justify;
vertical-align:top;
color:White;
}
div.panel
{
z-index: 8999;
text-align: center;
background: #e5eecc;
border: solid 1px #c3c3c3;
}
div.div_submenu
{
float: left;
text-align: center;
color: #fefffd;
background: #transparent;
border: solid 1px #c3c3c3;
border-radius: 4px;
width: 584px;
height: 22px;
}
div.div_logout
{
float: right;
padding: 5px;
text-align: center;
color: #fefffd;
background: #494b4a;
border: solid 1px #c3c3c3;
border-radius: 4px;
width: 55px;
height: 15px;
}
.style2
{
width: 28px;
height: 15px;
}
.shell
 {
      width: 944px; 
      margin: 0 auto;
       position: relative;
       border:1px solid gray;
       border-radius:4px 4px 4px 4px;
}
.txtsize
{
    width:200px;
    height:22px;
    font-size:13px;
   padding: .2em .4em;
   border:1px solid gray;
   border-radius:4px 4px 4px 4px;
}
.ddldrop
{
    width:210px;
    height:27px;
    font-size:13px;
   padding: .2em .4em;
   border:1px solid gray;
   border-radius:4px 4px 4px 4px;
}

.borderradius
{
border:1px solid #d5d5d5;
border-radius:4px 4px 4px 4px;
} 
.ContinueButton
{
background: #2a81d7;
background: -moz-linear-gradient(0% 100% 90deg,#206bcb,#3e9ee5);
background: -webkit-gradient(linear,0% 0,0% 100%,from(#3e9ee5),to(#206bcb));
border-top: 1px solid #2a73a6;
border-right: 1px solid #165899;
border-bottom: 1px solid #07428f;
border-left: 1px solid #165899;
-moz-box-shadow: inset 0 1px 0 0 #62b1e9;
-webkit-box-shadow: inset 0 1px 0 0 #62b1e9;
box-shadow: inset 0 1px 0 0 #62b1e9;
color: #FFF;
cursor: pointer;
text-decoration: none;
text-shadow: 0 -1px 1px #1d62ab;
border-radius: 4px 4px 4px 4px;
}
.ContinueButton:hover
{
background: #0066CC;
background: -moz-linear-gradient(0% 100% 90deg,#206bcb,#3e9ee5);
background: -webkit-gradient(linear,0% 0,0% 100%,from(#0066CC),to(#0066CC));
border-top: 1px solid #2a73a6;
border-right: 1px solid #165899;
border-bottom: 1px solid #07428f;
border-left: 1px solid #165899;
-moz-box-shadow: inset 0 1px 0 0 #62b1e9;
-webkit-box-shadow: inset 0 1px 0 0 #62b1e9;
box-shadow: inset 0 1px 0 0 #0066CC;
color: #FFF;
cursor: pointer;
text-decoration: none;
text-shadow: 0 -1px 1px #1d62ab;
border-radius: 4px 4px 4px 4px;
}
.btnRight
{
height:30px;
width:30px;
background-image:url(CSS/right.gif) ;
background-repeat:no-repeat;
}
.btnleft
{
height:30px;
width:30px;
background-image:url(CSS/left1.gif) ;
background-repeat:no-repeat;
}
.btnUp
{
height:30px;
width:30px;
background-image:url(CSS/top.gif) ;
background-repeat:no-repeat;
}
.btnDown
{
height:30px;
width:30px;
background-image:url(CSS/Down.gif) ;
background-repeat:no-repeat;
}